.container{background:transparent;}
.label{
    width: 25px;
    height: 24px;
    display: block;    
    text-indent: -9999px;
    background: url(https://armazemdosopro.vteximg.com.br/arquivos/user-icon.png) no-repeat center center scroll transparent;}


@media only screen and (min-width: 640px) {
    .container{
        background:#3f3e00;
        color:#fff;
    }
    .label{
        background: transparent;
        color:#fff;
        display:block;
        text-indent: inherit;
        width: auto;
        height: auto;
    }
}